@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.ttf');
}
* {
  font-family: Karla;
}
.topNavBar {
  background-color: #1a8cab;
  height: 200px;
}
.logo {
  font-size: 30px;
  float: left;
  display: inline;
  color: #fbcb15;
  padding-left: 40px;
  padding-top: 10px;
}
.header-about {
  height: 500px;
  width: 100%;
  background: url(https://djkochphotography.files.wordpress.com/2012/10/power-grid.jpg) top center no-repeat;
  background-size: cover;
}
.header-about .text {
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 40px;
  color: white;
}
.header-about .text p {
  text-align: center;
}
.container-fluid {
  padding: 0px !important;
}
.section {
  padding: 0px;
  width: 100%;
  margin: auto;
}
.about {
  width: 100%;
}
.about .section {
  height: 500px;
}
.about .info {
  background-color: #FFFFFF;
}
.about .howitworks {
  background-color: #159594;
}
.about .energyInfo {
  background-color: #8b1c55;
}
h1 {
  color: black;
  font-size: 30px;
  margin: 0px;
}
.reservationMap {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}
.outletPhoto {
  width: 20%;
  height: 200px;
  border-radius: 50%;
  background-color: #8b1c55;
  float: right;
}
