// Semantic dependency - no longer in use
// @import "../../dist/semantic/src/semantic.less";
// @import '../../node_modules/react-widgets/lib/less/react-widgets.less';

@turquoise: #159594;
@blue: #1A8CAB;
@yellow: #FBCB15;
@maroon: #8B1C55;
@red: #FF1900;

@dark: #343434;

@purple: #666699;
@orangemed: #f9a92a;
@blue: #2da2c4;
@greymed: #b2c0c4;
@orangelight: #fdc52e;
@greylight: #d0d8da;



@font-face {
  font-family:'Karla';
    src: url('../fonts/Karla-Regular.ttf');
  color: @purple;
 }

 .form-group {
  margin-bottom: 0px;
 }

 body {
 background-color: @greylight;
 }

a,
a:hover,
a:focus {
  text-decoration: none !important;
  color: inherit;
}

* {
   font-family: Karla;
 }

.nav .navbar-nav {
  display: block;
}

.topNavBar {
  background-color: @dark;
  height: 70px;
  .logo {
    font-size: 30px;
    float: left;
    display: inline;
    color: @orangemed !important;
    padding-left: 40px;
    padding-top: 10px;
    text-decoration: none !important;
  }
  .mobile {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block !important;
    height: 30px;
    .dropdown-menu {
      background-color: lighten(@dark, 5%);
    }
    li a.active {
    background-color: lighten(@dark, 10%);
    }
    .dropdown-toggle {
      text-align: center;
      background-color: lighten(@dark, 5%);
    }
  }
  .nav>li {
    padding-top: 15px;
    a {
      color: white;
    }
    a:hover {
      background-color: lighten(@dark, 10%);
    }
    .logout {
      color: @orangemed;
    }
  }
  .nav>li a.active {
    background-color: lighten(@dark, 10%);
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: lighten(@dark, 10%);
}


.header-about {
  height: 500px;
  width: 100%;
  background: url(http://m.wsj.net/video/20150203/020315lunchenergy/020315lunchenergy_1280x720.jpg) top center no-repeat;
  background-size: cover;
  .text {
    padding-top: 210px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 40px;
    color: @greylight;
    p {
      text-align: center;
    }
  }
}

.addoutlet {
  margin-bottom: 40px;
}

.container-fluid {
  padding: 0px !important;
  background-color: @greylight;
}

.section {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.about {
  width: 100%;
  .section{
    height: 500px;
  }
  .info{
    background-color: #FFFFFF;
  }
  .howitworks{
    background-color: @turquoise;
  }
  .energyInfo{
    background-color: @maroon;
  }
}

h1 {
  color: black;
  font-size: 30px;
  margin: 0px;
}

.reservationMap {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}

.outletPhoto {
  width: 20%;
  height: 200px;
  border-radius: 50%;
  background-color: @maroon;
  float: right;
}

.viewBox {
  display: inline-box;
  height: 20px;
  width: 82vw;
}

.timeblock {
  display: inline-block;
}

.on {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: blue;
  border: 2px solid grey;
}

.off {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: @red;
  border: 2px solid grey;
}

.centerSlot {
  width: 83px;
  height: 20px;
  border: 2px solid black;
  color: white;
}

.divider {
  display: inline-block;
  width: 80px;
  height: 20px;
  background-color: @blue;
  border: 2px solid grey;
}

.toggle {
  display: inline-block;
}